<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstNapsterMusicApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>10F2AC2AADDA0482368AFD1BDB3F8B3B555174DF</string>
				<key>dateExpires</key>
				<string>8/13/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10F2AC2AADDA0482368AFD1BDB3F8B3B555174DF</string>
						<key>dateExpires</key>
						<string>8/13/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NapsterKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>664NQZJADW</string>
						<key>name</key>
						<string>Logikosoft Technologies LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>664NQZJADW.com.pop.FirstNapsterMusicApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>664NQZJADW</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>664NQZJADW.com.pop.FirstNapsterMusicApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>FirstNapsterMusicApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2228fdab-8a2a-4663-bd91-99459e8dd0f7</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>664NQZJADW</string>
				<key>name</key>
				<string>Logikosoft Technologies LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
